$primaryColor: hsl(213, 96%, 18%);
$secondaryColor: hsl(229, 24%, 87%);
$lightBlueColor: hsl(206, 94%, 87%);
$grayColor: hsl(231, 11%, 63%);
$blueColor: hsl(243, 100%, 62%);
$blueOpacityColor: hsl(217, 100%, 97%);
