@import "../../Styles/App._variables.scss";

.planPrice {
  color: $blueColor;
}

.planBox {
  border: 1px solid $secondaryColor;
  transition: border 0.3s;
  &:hover {
    border: 1px solid $blueColor;
  }
}

.active {
  background-color: $blueOpacityColor !important;
  border: 1px solid $blueColor !important;
}

input {
  width: 3rem;
  height: 3rem;
  background-color: $primaryColor;
  &:focus {
    box-shadow: none;
  }
}

.myBtn {
  color: white;
  border: 1px solid $secondaryColor;
  transition: background 0.3s;
}

.myBtnActive {
  background-color: $primaryColor;
}
