@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu-regular";
  src: url("../public/fonts/Ubuntu-Regular.ttf") format("truetype");
}

body {
  font-family: "Ubuntu-regular";
}
